# oTree (Django ORM)
otree==5.10.0
Django==4.2.16

# DB/runtime helpers
psycopg2-binary==2.9.9
gunicorn==21.2.0
whitenoise==6.7.0
python-dotenv==1.0.1

gspread==6.1.2
google-auth==2.34.0
pandas
openpyxl
psycopg2-binary
uvicorn
