{% extends "otree/Page.html" %}
{% load otree static %}

{% block title %}
Starting experiment
{% endblock %}

{% block content %}
<input type="hidden" name="prolific_id_field" value="{{ prolific_pid }}">
<input type="hidden" name="study_id_field" value="{{ study_id }}">
<input type="hidden" name="session_id_field" value="{{ session_id }}">

<div class="card">
    <div class="card-body text-center">
        <p>Please click next to continue.</p>
        <button class="btn btn-primary">Next</button>
    </div>
</div>
{% endblock %}
