{% block title %}
{% endblock %}

{% block content %}

<div class="card bg-light m-3">
    <div class="card-body">

        <iframe 
            src="https://docs.google.com/document/d/e/2PACX-1vScFicl5frD_ngkg-gOhlHXLI-hDdAd4Sq4EVy37m7bXF5jZFHFyGsnEebXbJedlq9PJY_PRbGRPuJR/pub?embedded=true" 
            width="100%" 
            height="600px" 
            style="border: 1px solid #ccc;">
        </iframe>

    </div>
</div>

<div class="text-center">
    <form method="post">
        <button class="btn btn-primary btn-lg">I Agree</button>
    </form>
</div>

{% endblock %}

