{% block title %}
{% endblock %}

{% block content %}

<div class="card bg-light m-3">
    <div class="card-body">
        
        <iframe 
            src="https://docs.google.com/document/d/e/2PACX-1vTg_Hd8hXK-TZS77rC6W_BlY2NtWhQqCLzlgW0LeomoEUdhoDNYPNVOO7Pt6g0-JksykUrgRdtcVL3u/pub?embedded=true"
            width="100%" 
            height="800px" 
            style="border: 1px solid #ccc;">
        </iframe>

    </div>
</div>

<div class="text-center">
    <form method="post">
        <button class="btn btn-primary btn-lg">Start</button>
    </form>
</div>

{% endblock %}
